@charset "UTF-8";

/* 共通部分 */
:root {
    --base-color: #f8fafa;
    --main-color: #434343;
    --sub-color: #eee;
    --text-color: #333;
    --headline-color: #eee;
    --accent-color: #2196f3;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "sans-serif";
    line-height: 1.8;
    color: var(--text-color);
    background-color: var(--base-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* ヘッダー */
.hamburger {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
}
.logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    color: var(--headline-color);
}
.btn {
    display: block;
    width: 30px;
    height: 30px;
}
.btn span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 4px var(--headline-color);
    transition: .4s ease-in-out;
}
.btn span:nth-child(1) {
    top: 10px;
}
.btn span:nth-child(2) {
    top: 23px;
}
.btn span:nth-child(3) {
    top: 36px;
}
.btn.active span:nth-child(1) {
    top: 23px;
    transform: rotate(-45deg);
}
.btn.active span:nth-child(2) {
    display: none;
}
.btn.active span:nth-child(3) {
    top: 23px;
    transform: rotate(45deg);
}
.overlay {
    position: fixed;
    z-index: 999;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    transform: translateX(100%);
}
.overlay.active {
    transform: translateX(0%);
}
.nav {
    position: fixed;
    z-index: 999;
    top: 50px;
    right: 0;
    width: 40%;
    height: 100vh;
    padding: 0 20px;
    line-height: 3.6;
    background: var(--main-color);
    transform: translateX(100%);
    transition: .4s ease-in-out;
}
.nav.active {
    transform: translateX(0%);
}
.item {
    color: var(--headline-color);
}

/* メイン */
.wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
    margin-top: 16px;
}
h3 {
    font-size: 16px;
    margin-top: 16px;
}
small {
    font-size: 12px;
}
table tr {
    border-bottom: solid 1px var(--sub-color);
    cursor: pointer;
}
table tr.border {
    border-bottom: double 3px var(--sub-color);
}
table td {
    text-align: center;
    }
.players {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1em;
}
.all_players {
    width: 66%;
    border-collapse: collapse;
    border-spacing: 1em;
}
.add {
    margin-left: 30%;
    background: var(--sub-color);
    border: none;
    border-radius: 1.8em;
}
.del {
    background: var(--sub-color);
    border: none;
    border-radius: 1.8em;
}
input {
    height: 1.8em;
    margin: 0;
    padding: 0;
    background: var(--sub-color);
    border: none;
    border-radius: .3em;
    outline: var(--sub-color);
    appearance: auto;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input.name {
    width: 6em;
}
input.total {
    width: 3.5em;
    text-align: right;
}
input.score {
    width: 2.5em;
    text-align: right;
}
input.haikyu,
input.genten {
    width: 2em;
    text-align: right;
}
input.honba,
input.kyotaku,
input.uma_3to2,
input.uma_4to1,
input.target {
    width: 1.5em;
    text-align: center;
}
.calc {
    font-size: 16px;
    background: var(--main-color);
    color: var(--headline-color);
    border: none;
    border-radius: .3em;
}
.preliminary,
.conditions {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1em;
}
.preliminary td:nth-child(1) {
    width: 20%;
    text-align: center;
    vertical-align: middle;
}
.preliminary td:nth-child(2) {
    width: 50%;
    text-align: left;
    vertical-align: middle;
    padding: 0 0 0 3em;
}
.preliminary td:nth-child(3) {
    width: 30%;
    text-align: right;
    vertical-align: middle;
    padding: 0 2em 0 2em;
}
.conditions td {
    width: 50%;
    text-align: left;
    vertical-align: middle;
}
.hidden {
    display: none;
}

/* フッター */
.footer {
    width: 100%;
    height: 20x;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: var(--main-color);

}
.copyright {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: var(--headline-color);
}
